/* line 4, back_to_top_box.scss */
.back-to-top {
  position: fixed;
  top: 50%;
  right: 0px;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  padding: 1em;
  display: none;
  z-index: 9999;
}
