/* line 5, back_to_top_box.scss */
.back-to-top {
  position: fixed;
  top: 50%;
  left: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none;
}

/* line 17, back_to_top_box.scss */
.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5);
}
