////////////////////////
// Floating back-to-top Box
////////////////////////
.back-to-top {
    position: fixed;
    top: 50%;
    left: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, .8);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 9999;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, .5);
}